.menu>ul>li{
    display: inline-block;
    position: relative;

}
.menu>ul>li>a{
    display:block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color:rgb(252, 172, 158);
    padding:0 10px;
    font-weight: bold;
}
.menu>ul{
    padding:0px;
    margin:0px;
    list-style: none;
    border-radius: 3px;
    background-color:rgb(252, 172, 158);
    text-align: center;
}
.menu>ul>li>a:hover{
    color:rgb(218, 5, 5);
}
.menu ul ul{
    position: absolute;
    display: none;
    padding:0px;
    margin:0px;
    list-style:none;
    border-radius: 3px;
    width:200px;
    background-color:rgb(252, 172, 158);
    box-shadow: 0 0 2px gray;
}
.menu ul ul a{
    display:block;
    text-decoration: none;
    color:black;
    background-color: white;
}
.menu ul ul a:hover{
    background-color: tomato;
    color:white;
}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
}